<div class="message-container " id="message-<%= message.id %>">
  <div class="author">
 
 <div class="row">
   <div class="col-1">
    <%= render "shared/avatar", user: {
        avatar: message.user.avatar
      } %>
   </div>
   <div class="col">
<span><%= message.user.name %></span>
<div><p><%= message.description %></p></div>
   </div>
   <div class="col">

   </div>
 </div>



    
    
    <small><%= message.created_at.strftime("%l:%M%p") %></small>
  </div>
  
  
</div>