<input type="hidden" id="get_breeds_path" value="<%= get_breeds_path %>">
<%= simple_form_for @pet do |f|%>
  <div class="row">
    <div class="col align-items-center">
    <%= f.input :name, placeholder: "Nombre", label: false %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.input :animal, collection: Pet::ANIMAL.reject { |s| s[0]== "Todos" }, include_blank: false, :prompt => 'animal',  label: false %>
    </div>
    <div class="col">
      <%= f.input :gender, collection: Pet::GENDER.reject { |s| s[0]== "Todos" }, include_blank: false, :prompt => 'Sexo', label: false %>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <%= f.input :size, collection: Pet::SIZE.reject { |s| s[0]== "Todos" }, include_blank: false, :prompt => 'Tamaño',  label: false %>
    </div>
    <div class="col">
      <%= f.input :age, placeholder: "Edad", label: false, collection: 0..18, include_blank: false, :prompt => 'Edad',  label: false %>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <%= f.input :breed, collection: Pet.breeds.reject { |s| s[0]== "Todos" }, include_blank: false, :prompt => 'Raza',  label: false %>
    </div>
    <div class="col">
        <%= f.input :color, collection: Pet::COLOR.reject { |s| s[0]== "Todos" }, include_blank: false, :prompt => 'Color',  label: false %>
        <!--<%= f.input :animal, placeholder: "Tipo de Animal", label: false %>-->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.input :photos, as: :file, label: "Suba una foto", label_html: { class: "btn-gradient" }, input_html: { multiple: true, class: "d-none" } %>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <%= f.button :submit, "Continuar", class: "btn-gradient" %>
      </div>
    </div>
  </div>
  <% end %>
