<div class="container mt-5">
  <h2 class="mb-3">Editar Mascota</h2>
  <%= simple_form_for @pet do |f|%>
  <div class="row">
    <div class="col align-items-center">
    <%= f.input :name, placeholder: "Nombre", label: false %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.input :gender, collection: Pet::GENDER.reject { |s| s[0]== "Todos" }, include_blank: false, :prompt => 'Please select the Gender of the pet', label: false %>
    </div>
    <div class="col">
      <%= f.input :age, placeholder: "Edad", label: false %>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <%= f.input :size, collection: Pet::SIZE.reject { |s| s[0]== "Todos" }, include_blank: false, :prompt => 'Please select the size of the pet',  label: false %>
    </div>
    <div class="col">
      <%= f.input :color, collection: Pet::COLOR.reject { |s| s[0]== "Todos" }, include_blank: false, :prompt => 'Please select the Gender of the pet',  label: false %>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <%= f.input :breed, collection: Pet::BREEDS.reject { |s| s[0]== "Todos" }, include_blank: false, :prompt => 'Please select the breed of the pet',  label: false %>
    </div>
    <div class="col">
    <%= f.input :animal, placeholder: "Tipo de Animal", label: false %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <%= f.button :submit, "Guardar", class: "btn btn-info" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
