<div class="container">

<div class="row">
  <div class="col-4">
    <ul>
      <% @chatrooms.each do |msn| %>
        <li><%= link_to "#{msn.name}", chatroom_path(msn.id) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-8">
    
<% if @chatroom.user.id == current_user.id %>
  <h1><%= @chatroom.post.user.name %></h1>
<% else %>
  <h1><%= @chatroom.user.name %></h1>
<% end %>
 <%= link_to 'Delete', post_chatroom_path(@chatroom.post.id),
      method: :delete,
      class: 'btn btn-danger ml-3 d-none'
    %>
<h1><%= @chat %></h1>
<div id="messages" data-chatroom-id=<%= @chatroom.id %>>
  <% @chatroom.messages.each do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
</div>
<div class="row">
  <div class="col-1">
    <% if current_user.avatar.attached? %>
            <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "user.png", alt: "User", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
  </div>
  <div class="col-11">
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <div class="row">
    <div class="col-9">
  <%= f.input :description, label: false, placeholder: "Escribe tu mensaje..." %>
  </div>
  <div class="col-3">
          <%= f.button :submit, class: "btn btn-primary" %>
          </div>

<% end %>
  </div>
</div>
  </div>
</div>




</div>