<div class="container-fluid">
<% if @chatrooms.size !=0 %>
  <div class="row">
    <div class="col-4  pl-4 bg-chats border-left">
      <div class="container">
<%# index %>
        <h3 class="pt-1">Mis conversaciones</h3>
        <% @chatrooms.each do |msn| %>
        <%= link_to chatroom_path(msn.id), class: "t-link" do %>
          <div class="row mb-4 mt-4">
               <% if @chatroom.post.user.id == current_user.id %>
                  <div class="col-2">
                    <%= render "shared/avatar" , user: { avatar: msn.user.avatar } %>
                  </div>
                  <div class="col">
                    <p><%= msn.user.name %></p> 
                  </div>
                <% else %>
                  <div class="col-2">
                    <%= render "shared/avatar" , user: { avatar: msn.post.user.avatar } %>
                  </div>
                  <div class="col">
                    <p><%= msn.post.user.name %></p>         
                  </div>
                <% end %>
            
          </div>
          <% end %>
          <% end %>
      </div>
    </div>

    <div class="col-8">
    <%# breadcrumb %>
<nav class="bg-gray" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"> <%= link_to "Ver post", post_path(@chatroom.post.id) %></li>
    <li class="breadcrumb-item active" aria-current="page">Chat</li>

  </ol> 
 
</nav>
      <% if @chatroom.post.user.id == current_user.id %>
        
      <% else %>
        <h4 class="pt-2 pl-3 pb-4">
          <%= @chatroom.post.user.name %>
        </h4>
      <% end %>
        
            
              <div id="messages" data-chatroom-id=<%=@chatroom.id %>>
                <% @chatroom.messages.each do |message| %>
                  <%= render "messages/message" , message: message %>
                    <% end %>
              </div>
              <div class="row">
                <div class="col-1">
                              <%= render "shared/avatar" , user: { avatar: current_user.avatar } %>

                </div>
                <div class="col-11">
                  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
                    <div class="row">
                      <div class="col-9 chat-message">
                        <%= f.input :description, label: false, placeholder: "Escribe tu mensaje..." %>
                      </div>
                      <div class="col-3">
                        <%= f.button :submit, value: "Enviar", class: "btn btn-primary" %>
                      </div>

                      <% end %>
                    </div>
                </div>
              </div>
    </div>


<% else %>
 <%= render "jumbotron", info: {
        title: "Aun no tienes mensajes",
        btn: "Ver publicaciones",
        btn_path: post_path,
      } %>
<% end %>


  </div>