<input type="hidden" id="get_breeds_path" value="<%= get_breeds_path %>">
<%= form_with url: posts_path, method: :get, local: true do |f| %>
  <div class="d-flex align-items-center justify-content-around cont-filters">
  <div class="row">
      <div class="form-group col-md-auto">
        <%= f.label :breed, "Raza" %>
        <%= f.select :breed,
        options_for_select([["Todos", nil]]),
                {},
                { class:"form-control", id: "pet_breed"}
                %>
      </div>
      <div class="form-group col-md-auto">
        <%= f.label :size, "Tamaño" %>
          <%= f.select :size,
          options_for_select(Pet::SIZE
                ),
                {},
                { class:"form-control" }
                %>
      </div>
  </div>
  <div class="row">
      <div class="form-group col-md-auto">
        <%= f.label :color, "Color" %>
        <%= f.select :color,
        options_for_select(Pet::COLOR
                ),
                {},
                { class:"form-control"}
                %>
      </div>
      <div class="form-group col-md-auto">
        <%= f.label :gender, "Sexo" %>
        <%= f.select :gender,
        options_for_select(Pet::GENDER
                ),
                {},
                { class:"form-control" }
                %>
      </div>
      <div class="form-group col-md-auto">
        <%= f.label :animal, "Animal" %>
        <%= f.select :animal,
        options_for_select(Pet::ANIMAL
                ),
                {},
                { class:"form-control", id: "pet_animal" }
                %>
      </div>
  </div>
      <%= f.submit "Filtrar", class: "btn-light-gradient", id: 'filterbtn' %>
  </div>
<% end %>
